.move-up {
  position: fixed;
  margin-right: 50px;
  cursor: pointer;
  bottom: 20px;
  right: 0;
  z-index: 3;
  height: 45px;
  line-height: 46px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
@media screen and (max-width: 950px) {
  .move-up {
    margin-right: 20px;
  }
}
